@charset "UTF-8";
/* Обнуляющий стиль */
@import url("https://fonts.googleapis.com/css?family=Alegreya:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ================================================================ */
.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.log-in .logo {
  width: 44px;
}
.log-in .menu__logo {
  margin-right: 0;
}
.log-in .header {
  width: 100%;
  padding: 20px 0;
}
.log-in .footer {
  width: 100%;
}

ul {
  margin-bottom: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.access_text {
  font-size: 44px;
  font-weight: 700;
}

.color-red {
  color: #FF2625;
}

.container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.container * {
  align-self: center;
  width: 100%;
}

body {
  font-family: "Alegreya";
  font-size: 22px;
  background-color: #FFFAFB;
}

.wrapper {
  overflow: hidden;
}
[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.25rem;
}
@media (min-width: 600px) {
  [class*=__container] {
    padding: 0 3.25rem;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  background-image: linear-gradient(#FF2625, #FF2625);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.link:hover {
  background-size: 100% 2px;
}

.link-red {
  color: #FF2625;
}

.logo {
  width: 100px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.logo img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform: scale(1);
}

.logo img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.titles-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 1150px) {
  .titles-main {
    max-width: 472px;
  }
}
.titles-main__subTitle {
  color: #FF2625;
  font-size: 26px;
  font-weight: 600;
}
.titles-main__title {
  font-family: "Josefin Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
}
@media (max-width: 1150px) {
  .titles-main__title {
    text-align: center;
  }
}
@media (min-width: 600px) {
  .titles-main__title {
    font-size: 80px;
  }
}
@media (min-width: 400px) {
  .titles-main__title {
    font-size: 60px;
  }
}
.titles-main__text {
  font-weight: 100;
  text-align: justify;
}

.btn {
  position: relative;
  width: 180px;
  padding: 20px 30px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}
@media (max-width: 500px) {
  .btn {
    max-width: 100%;
  }
}
.btn__red {
  background-color: #FF2625;
  color: white;
}
.btn__white {
  border: #91C9FF 1px solid;
}

svg {
  position: absolute;
  left: 0;
  bottom: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
  color: white;
  border: 1px solid #91C9FF;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  font-size: 18px;
  font-weight: 100;
}

.header {
  padding: 0px 32px 0px 0;
  background-color: #FFF3F4;
}
@media (max-width: 900px) {
  .header {
    padding: 32px 0px 32px 0;
  }
}

.menu {
  display: flex;
  font-size: 24px;
}
@media (max-width: 900px) {
  .menu {
    justify-content: space-between;
  }
}
.menu__logo {
  margin-right: 75px;
}
.menu__items {
  display: flex;
  align-items: center;
  gap: 60px;
  flex-grow: 1;
}
@media (max-width: 900px) {
  .menu__items {
    display: none;
  }
}
.menu__item {
  position: relative;
}
.menu__burger {
  align-self: center;
}
.menu__burger img {
  max-width: 40px;
  height: auto;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform: scale(1);
}
.menu__burger img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.block-main {
  position: relative;
}
.block-main__container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 170px 10px;
  gap: 50px;
}
@media (max-width: 1150px) {
  .block-main__container {
    flex-direction: column;
    padding: 0px 10px 150px 10px;
  }
}
.block-main__buttons {
  max-width: 100%;
  display: flex;
  gap: 45px;
}
@media (max-width: 1150px) {
  .block-main__buttons {
    align-self: center;
  }
}
@media (max-width: 500px) {
  .block-main__buttons {
    flex-direction: column;
  }
}
@media (min-width: 1150px) {
  .block-main__image {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
  }
}
.block-main__image img {
  max-width: 100%;
  max-height: 1000px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border-radius: 5px 5px 5px 35px;
}
@media (min-width: 1150px) {
  .block-main__image img {
    position: absolute;
    bottom: -60px;
    left: 50px;
    width: 100%;
    height: auto;
    z-index: -2;
  }
}

.block-main__image::after {
  content: url("../img/ico/Dots.svg");
  bottom: -80px;
  right: 0px;
  position: absolute;
}
@media (max-width: 1150px) {
  .block-main__image::after {
    bottom: 75px;
    right: 50px;
  }
}
@media (max-width: 600px) {
  .block-main__image::after {
    content: "";
  }
}

.block-main__container::before {
  content: url("../img/main/mainBlock/quadrati.png");
  top: 0px;
  left: -150px;
  position: absolute;
}

@media (min-width: 800px) {
  .block-main__container::after {
    content: "Exercise";
    font-family: "Josefin Sans";
    font-weight: 900;
    font-size: 200px;
    bottom: -50px;
    left: 20px;
    position: absolute;
    line-height: 170%;
    z-index: -2;
    max-width: 100%;
    color: hsla(0, 100%, 57%, 0.05);
  }
}

.block-StepByStep {
  background-color: #FFF3F4;
}
.block-StepByStep__container {
  display: flex;
  flex-direction: column;
  padding: 40px 10px 120px 10px;
}
@media (max-width: 900px) {
  .block-StepByStep__container {
    padding: 40px 10px 90px 10px;
  }
}
.block-StepByStep__titles {
  align-self: center;
  padding: 40px 0;
}
.block-StepByStep__titles .titles-main__subTitle {
  text-align: center;
}
.cards-services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
@media (max-width: 900px) {
  .cards-services {
    grid-template-columns: 1fr;
  }
}

.card-service {
  background-color: #fff;
  border-radius: 5px 5px 5px 35px;
  border: rgba(255, 37, 37, 0.5411764706) 1px solid;
  padding: 65px 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 400px) {
  .card-service {
    padding: 35px 15px;
  }
}
.card-service__image {
  text-align: center;
}
.card-service__image img {
  width: 75px;
}
.card-service__title {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  height: 50px;
}
.card-service__text {
  text-align: justify;
}

.block-benefits__container {
  padding: 40px 10px 170px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.banefit-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
  justify-content: end;
}
@media (max-width: 900px) {
  .banefit-card {
    grid-template-columns: 1fr;
  }
}
.banefit-card__image {
  text-align: center;
}
.banefit-card__image img {
  max-width: 100%;
}
.banefit-card__titles {
  align-self: center;
  max-width: 100%;
}
.banefit-card__titles .titles-main__subTitle {
  font-size: 26px;
}
@media (max-width: 1150px) {
  .banefit-card__titles .titles-main__subTitle {
    text-align: center;
  }
}
.banefit-card__titles .titles-main__title {
  font-size: 44px;
}
@media (max-width: 900px) {
  .banefit-card__titles .titles-main__title {
    font-size: 38px;
  }
}
@media (max-width: 400px) {
  .banefit-card__titles .titles-main__title {
    font-size: 28px;
  }
}

.text-align-right {
  text-align: end;
}

.brRadiusBottomRight img {
  border-bottom-right-radius: 100px;
}

.brRadiusBottomLeft img {
  border-bottom-left-radius: 100px;
}

.brRadiusTopRight img {
  border-top-right-radius: 100px;
}

.brRadiusTopLeft img {
  border-top-left-radius: 100px;
}

.cntChangeBlock .left {
  order: 1;
}
@media (max-width: 900px) {
  .cntChangeBlock .left {
    order: 2;
  }
}
.cntChangeBlock .right {
  order: 2;
}
@media (max-width: 900px) {
  .cntChangeBlock .right {
    order: 1;
  }
}

.footer {
  background-color: #FFF3F4;
  padding: 25px 0;
  text-align: center;
}
.footer__container {
  padding: 0;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}
.footer__logo {
  grid-row: 1/span 2;
  width: 100px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}
.footer__topText {
  color: #A69B9B;
  font-size: 22px;
}
.footer__bottomText {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */