<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>__Palestriamoci: home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/log-in.css">
    <link rel="stylesheet" href="../static/css/itc-slider.css">
    <link rel="icon" href="../static/img/logo/logoRed.ico">
    <script src="../static/js/itc-slider.js" defer></script>
</head>

<body>
    <div class="wrapper">


        <header class="header" id="header">
            <div class="header__container">
                <menu class="header__menu menu">
                    <div class="menu__logo logo">
                        <a href="index"><img src="../static/img/logo/logo.png" alt="logo"></a>
                    </div>
                    <ul class="menu__items">
                        <!-- <li class="menu__item"><a class="link" href="#">Casa</a></li> -->
                        <li class="menu__item"><a class="link" href="#StepByStep">Come iniziare</a></li>
                        <li class="menu__item"><a class="link" href="#benefits">Benefici</a></li>
                        <li class="menu__item"><a class="link" href="#dreamTeam">Chi siamo</a></li>
                    </ul>
                    <div class="menu__burger">
                        {% if session.get("id_loggeduser") != None: %}
                        <a href="showcards"><img src="../static/img/ico/login.png" alt="menu"></a>
                        {% else %}
                        <a href="login"><img src="../static/img/ico/login.png" alt="menu"></a>
                        {% endif %}

                    </div>
                </menu>
            </div>
        </header>


        <main class="main">
            <section class="main__block block-main">
                <div class="block-main__container">
                    <div class="block-main__titles titles-main">
                        <h3 class="titles-main__subTitle">__Palestriamoci</h3>
                        <h1 class="titles-main__title">Sudare, Sorridere e Ripetere</h1>
                        <p class="titles-main__text">Palestriamoci è un'app innovativa per appassionati di fitness e
                            atleti, che consente di ottimizzare gli allenamenti attraverso programmi personalizzati,
                            basati su obiettivi, livello di forma e preferenze.</p>
                        <div class="block-main__buttons">
                            <button class="btn btn__red">
                                <a href="/register">
                                    <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                                    </svg>
                                    <span>Iscriviti ora</span>
                                </a>
                            </button>
                            <button class="btn btn__white" type="button">
                                <a href="#benefits">
                                    <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                                    </svg>
                                    <span>Saperne di più</span>
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class="block-main__image">
                        <div class="image-main">
                        </div>
                        <img src="../static/img/main/mainBlock/main-image5.webp" alt="sport woomen">
                    </div>
                </div>
            </section>

            <section class="main__StepByStep block-StepByStep " id="StepByStep">
                <div class="block-StepByStep__container">
                    <div class="block-StepByStep__titles titles-main">
                        <h3 class="titles-main__subTitle">Passo dopo passo</h3>
                        <h2 class="titles-main__title">Come iniziare</h2>
                    </div>
                    <div class="block-StepByStep__cards">
                        <div class="cards-services">
                            <div class="card-service">
                                <div class="card-service__image">
                                    <img src="../static/img/main/StepByStep/number-1.png" alt="number 1">
                                </div>
                                <div class="card-service__title">Scarica l'app o accedi</div>
                                <div class="card-service__text">Palestriamoci è disponibile per il download su
                                    <a href="#" class="color-red">Android</a> o sul sito web. È sufficiente
                                    installarla sul proprio
                                    dispositivo mobile
                                    ed effettuare una rapida registrazione o il <a href="#" class="color-red">login</a>
                                    attraverso il sito web.
                                </div>
                            </div>
                            <div class="card-service">
                                <div class="card-service__image">
                                    <img src="../static/img/main/StepByStep/number-2.png" alt="number 2">
                                </div>
                                <div class="card-service__title">Creare la prima scheda di formazione</div>
                                <div class="card-service__text">Utilizzate l'interfaccia intuitiva per selezionare
                                    gli esercizi, impostare i parametri di allenamento e creare il vostro primo
                                    piano.</div>
                            </div>
                            <div class="card-service">
                                <div class="card-service__image">
                                    <img src="../static/img/main/StepByStep/number-3.png" alt="number 3">
                                </div>
                                <div class="card-service__title">Iniziare la formazione</div>
                                <div class="card-service__text">Seguite il vostro piano utilizzando le istruzioni
                                    dettagliate e le linee guida per gli esercizi fornite dall'app.</div>
                            </div>
                            <div class="card-service">
                                <div class="card-service__image">
                                    <img src="../static/img/main/StepByStep/number-4.png" alt="number 4">
                                </div>
                                <div class="card-service__title">Traccia i tuoi progressi</div>
                                <div class="card-service__text">Aggiornate regolarmente i vostri progressi nell'app
                                    per vedere come state procedendo verso i vostri obiettivi.</div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="main__benefits block-benefits" id="benefits">
                <div class="block-benefits__container">
                    <div class="banefit-card cntChangeBlock">
                        <div class="banefit-card__image brRadiusBottomRight left">
                            <img src="../static/img/main/benefits/01.webp" alt="Schede di formazione individuale">
                        </div>
                        <div class="banefit-card__titles titles-main right text-align-right">
                            <h3 class="titles-main__subTitle">Benefici per la salute</h3>
                            <h2 class="titles-main__title">Schede di formazione individuale</h2>
                            <p class="titles-main__text">Create piani di allenamento completamente personalizzati in
                                base ai vostri obiettivi e alle vostre esigenze. Scegliete tra un'ampia gamma di
                                esercizi aerobici e anaerobici per creare il programma di allenamento perfetto.</p>
                        </div>
                    </div>
                    <div class="banefit-card">
                        <div class="banefit-card__titles titles-main">
                            <h3 class="titles-main__subTitle">Migliorare l'umore</h3>
                            <h2 class="titles-main__title">Personalizzazione completa dell'allenamento</h2>
                            <p class="titles-main__text">Specificate il numero di serie, ripetizioni e periodi di
                                riposo tra un approccio e l'altro per ogni esercizio, per ottenere il massimo
                                effetto. Personalizzate manualmente ogni aspetto dell'allenamento per adattarlo
                                esattamente alle vostre preferenze.</p>
                        </div>
                        <div class="banefit-card__image brRadiusTopLeft brRadiusBottomLeft  ">
                            <img src="../static/img/main/benefits/02.webp"
                                alt="Personalizzazione completa dell'allenamento">
                        </div>
                    </div>
                    <div class="banefit-card  cntChangeBlock">
                        <div class="banefit-card__image brRadiusTopRight brRadiusBottomRight left ">
                            <img src="../static/img/main/benefits/03.webp" alt="Aumento progressivo del carico">
                        </div>
                        <div class="banefit-card__titles titles-main right text-align-right">
                            <h3 class="titles-main__subTitle">Benefici per la salute</h3>
                            <h2 class="titles-main__title">Aumento progressivo del carico</h2>
                            <p class="titles-main__text">L'applicazione consente di regolare facilmente il livello
                                di difficoltà degli esercizi, aiutandovi ad aumentare gradualmente il carico di
                                lavoro man mano che la vostra forma fisica aumenta.</p>
                        </div>
                    </div>
                    <div class="banefit-card">
                        <div class="banefit-card__titles titles-main">
                            <h3 class="titles-main__subTitle">Migliorare la salute</h3>
                            <h2 class="titles-main__title">Facile accesso alle informazioni sull'allenamento</h2>
                            <p class="titles-main__text">Tutte le mappe di allenamento vengono memorizzate nell'app,
                                consentendo di accedere rapidamente alle informazioni necessarie durante gli
                                allenamenti. È il modo perfetto per avere sempre a portata di mano il vostro
                                programma di allenamento, ovunque vi troviate.</p>
                        </div>
                        <div class="banefit-card__image brRadiusTopLeft brRadiusBottomLeft">
                            <img src="../static/img/main/benefits/04.webp"
                                alt="Facile accesso alle informazioni sull'allenamento">
                        </div>
                    </div>
                    <div class="banefit-card cntChangeBlock">
                        <div class="banefit-card__image brRadiusTopRight left brRadiusBottomRight">
                            <img src="../static/img/main/benefits/05.webp" alt="sport man 1">
                        </div>
                        <div class="banefit-card__titles titles-main right text-align-right">
                            <h3 class="titles-main__subTitle">Benefici per la salute</h3>
                            <h2 class="titles-main__title">Motivazione e mantenimento dei progressi</h2>
                            <p class="titles-main__text">L'applicazione include funzioni per tracciare i vostri
                                progressi, consentendovi di vedere i miglioramenti della vostra forma fisica e di
                                aumentare la vostra motivazione. Registrate i vostri risultati e cercate di
                                raggiungere nuovi obiettivi con Palestriamoci.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="main__squadra squadra-main">
                <div class="squadra-main__container">
                    <div class="main__benvenuto">
                        <div class="flex" id="logo_log-in">
                            <img src="../static/img/logo/logo.png" style="width: 200px;" alt="Logo">
                        </div>
                        <h3 class="access_text" id="dreamTeam">La nostra <span class="color-red">__squadra</span> </h3>
                    </div>
                    <div class="main__carousel carousel">
                        <div class="itc-slider" data-slider="itc-slider" data-loop="true" data-autoplay="false"
                            data-interval="4000">
                            <div class="itc-slider-wrapper">
                                <div class="itc-slider-items">
                                    <div class="itc-slider-item">
                                        <!-- Контент 1 слайда -->
                                        <div class="itc-slider-item__image">
                                            <img class="img-test" src="../static/img/imgCreatori/Vittorio.jpg"
                                                alt="Vittorio Lungo">
                                        </div>
                                        <div class="itc-slider-item__description">
                                            <div class="itc-slider-item__name">Vittorio Lungo</div>
                                            <div class="itc-slider-item__position">Creatore di idee, struttura delle
                                                applicazioni, Database,
                                                Backend
                                            </div>
                                        </div>

                                    </div>
                                    <div class="itc-slider-item">
                                        <!-- Контент 2 слайда -->
                                        <div class="itc-slider-item__image">
                                            <img class="img-test" src="../static/img/imgCreatori/Riccardo.jpg"
                                                alt="Riccardo Renato Falchetto">
                                        </div>
                                        <div class="itc-slider-item__description">
                                            <div class="itc-slider-item__name">Riccardo Renato Falchetto</div>
                                            <div class="itc-slider-item__position">Struttura delle applicazioni,
                                                Database,
                                                Backend</div>
                                        </div>
                                    </div>
                                    <div class="itc-slider-item">
                                        <!-- Контент 3 слайда -->
                                        <div class="itc-slider-item__image">
                                            <img class="img-test" src="../static/img/imgCreatori/Mykola.jpg"
                                                alt="Mykola Kartsev">
                                        </div>
                                        <div class="itc-slider-item__description">
                                            <div class="itc-slider-item__name">Mykola Kartsev</div>
                                            <div class="itc-slider-item__position">Frontend: HTML, CSS, Javascript</div>
                                        </div>
                                    </div>
                                    <div class="itc-slider-item">

                                        <div class="itc-slider-item__image">
                                            <img class="img-test" src="../static/img/imgCreatori/Michele.jpg"
                                                alt="Michele Procacciante">
                                        </div>
                                        <div class="itc-slider-item__description">
                                            <div class="itc-slider-item__name">Michele Procacciante</div>
                                            <div class="itc-slider-item__position">Frontend: HTML, CSS, Javascript</div>
                                        </div>
                                    </div>
                                    <div class="itc-slider-item">

                                        <div class="itc-slider-item__image">
                                            <img class="img-test" src="../static/img/imgCreatori/Samuele.jpeg" alt="">
                                        </div>
                                        <div class="itc-slider-item__description">
                                            <div class="itc-slider-item__name">Samuele Filincieri</div>
                                            <div class="itc-slider-item__position">Design and Code for Android APP</div>
                                        </div>

                                    </div>

                                    <div class="itc-slider-item">

                                        <div class="itc-slider-item__image">
                                            <img class="img-test" src="../static/img/imgCreatori/Franchesco.jpg"
                                                alt="Francesco Pirollo">
                                        </div>
                                        <div class="itc-slider-item__description">
                                            <div class="itc-slider-item__name">Francesco Pirollo</div>
                                            <div class="itc-slider-item__position">Ispirazione, analisi del codice e
                                                della
                                                struttura</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Кнопки для перехода к предыдущему и следующему слайду -->
                            <button class="itc-slider-btn itc-slider-btn-prev"></button>
                            <button class="itc-slider-btn itc-slider-btn-next"></button>

                            <ol class="itc-slider-indicators">
                                <!-- data-slide-to="0" – для перехода к 1 слайду -->
                                <li class="itc-slider-indicator" data-slide-to="0"></li>
                                <!-- data-slide-to="1" – для перехода к 2 слайду -->
                                <li class="itc-slider-indicator" data-slide-to="1"></li>
                                <!-- data-slide-to="2" – для перехода к 3 слайду -->
                                <li class="itc-slider-indicator" data-slide-to="2"></li>
                                <!-- data-slide-to="3" – для перехода к 4 слайду -->
                                <li class="itc-slider-indicator" data-slide-to="3"></li>
                                <!-- data-slide-to="4" – для перехода к 5 слайду -->
                                <li class="itc-slider-indicator" data-slide-to="4"></li>
                                <!-- data-slide-to="5" – для перехода к 6 слайду -->
                                <li class="itc-slider-indicator" data-slide-to="5"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__icons">
                    <div class="social-contacts">
                        <a class="logo-footer" href="#header"><img src="../static/img/logo/logoRed.png" alt="logo"></a>
                        <a target="_blank" href="https://www.youtube.com/"><img
                                src="../static/img/ico/social/youtube.svg" alt="YouTube"></a>
                        <a target="_blank" href="https://www.facebook.com/"><img
                                src="../static/img/ico/social/facebook.svg" alt="facebook"></a>
                        <a target="_blank" href="https://www.instagram.com/"><img
                                src="../static/img/ico/social/instagram.svg" alt="instagram"></a>
                    </div>
                </div>
                <p class="footer__topText">Palestriamoci è un'app di fitness che offre allenamenti personalizzati per
                    appassionati e atleti, adattandosi a obiettivi e preferenze.</p>
                <p class="footer__bottomText">Creato da un gruppo di studenti seduti nell'ultimo banco di Academy Angelo
                    Rizzoli. Tutti i diritti riservati. 2023-2024</p>

            </div>
        </footer>
    </div>

</body>

</html>