.wrapper_account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__log-in {
    display: flex;
    flex-direction: column;
}

.log-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;


    .logo {
        width: 44px;
    }

    .menu__logo {
        margin-right: 0;
    }

    .header {
        width: 100%;
        padding: 20px 0;
    }

    .footer {
        width: 100%;
    }
}

ul {
    margin-bottom: 0;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.access {

    // .access_text
    &_text {
        text-align: center;
        font-size: 44px;
        font-weight: 700;

        @media (max-width: 370px) {
            font-size: 34px;
        }
    }
}

// ==============Form===============
.container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-self: center;

    * {
        align-self: center;
        width: 100%;
    }
}

#container-log-in {
    width: 100%;
}

.col-5 {
    flex: 0 0 auto;
    width: 100%;
}

.col-auto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.col-8 {
    max-width: 500px;
}

.col-form-label {}

.form-control {}

.form-text {}

.btn {

    // .btn_log-in
    &_log-in {}
}

.btn_sign-ing {
    max-width: 500px;


}

.account__userData .container .btn {
    /* width: 500px; */

    @media (max-width: 550px) {
        max-width: 250px;
    }
}

.mb-3 {}

.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;


    @media (max-width: 650px) {
        grid-template-columns: 1fr;
    }

}

// ==============PASSWORD===============
#inputPassword {
    align-self: center;
    // max-width: 370px;
    margin: 0 auto;
}

.visibility_account {
    position: absolute;
    right: 10px;
    bottom: 7px;
    width: 24px;
}

// ==============ACCOUNT===============

.account {
    flex: 1 1 auto;
    background-color: #FF2625;

    // .account__container
    &__container {}

    // .account__image
    &__image {
        // transform: translate(50%);
        margin-top: 60px;
        // align-self: center;
        text-align: center;

        @media (max-width: 680px) {
            width: 100%;
            margin-top: 30px;

        }

        img {
            max-width: 200px;

            @media (max-width: 800px) {
                max-width: 100px;
            }
        }
    }

    // .account__userData
    &__userData {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 0px;

        @media (max-width: 1150px) {
            grid-template-columns: 1fr;
            gap: 0px;
        }

        .container {
            // width: 500px;

        }
    }
}

.col-8 {
    width: 100%;
    position: relative;
}

#btn_accedi {

    // .btn {
    //     width: 100%;
    // }
}

.col-account .col-8 {

    // @media (max-width: 550px) {
    //     width: 50%;

    //     .col-8 {
    //         width: 100%;
    //     }
    // }



}