// ===================================== header
.menu {

    // .menu__burger
    &__burger {
        align-self: center;
        padding: 0 10px;

        a {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

.link_account {
    position: relative;
    padding-bottom: 5px;
}

.link_account:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(#FF2625, #FF2625);
    transition: width .3s;
}

.link_account:hover::after {
    width: 100%;
}

// =============================== shede
.tutti-schede {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.title_schede {
    padding: 35px 0 15px 0;
    display: flex;

    justify-content: space-between;
    font-size: 28px;
}

.scheda-block {
    flex: 1 1 33.333333%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;

    @media (max-width: 1000px) {
        flex: 1 1 50%;
    }

    @media (max-width: 650px) {
        flex: 1 1 100%;
        padding: 0;
    }
}

.btn_modal {
    align-self: center;
    background: #FFF3F4;
    color: black;
    width: 100%;
    display: block;
    margin: 15px;
    min-height: 200px;
    border-radius: 25px;
    position: relative;

}

.btn_modal::before {
    content: url("../img/ico/apici.svg");
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    position: absolute;
}

.btn_modal::after {
    content: url("../img/ico/Arrow.svg");
    bottom: -10px;
    right: 15px;
    position: absolute;
}

.dettagli {
    width: fit-content;
    right: 5px;
}

.contenuto {
    width: max-content;
}

.modal_container {
    display: table;
    width: 100%;
}

.modal {

    @media (max-width: 768px) {
        --bs-modal-padding: 0rem;
    }
}

.modal_box {
    width: 80vw;
    height: 95vh;
    max-width: 100%;
    max-height: 639px;

    @media (max-width: 768px) {
        width: 100vw;
        padding: 10px;
    }
}

table,
th,
td {
    border: 0.5px solid black;
}

.ex_name {
    margin: 0;
}

.row {
    border: none;
}

.title_modal {
    display: inline;
    justify-content: space-around;
}

#exampleModal {
    overflow: hidden;
}

.info_scheda {
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}



// =============================== shede
.modal {
    --bs-modal-margin: 1rem 0rem 0rem 0rem;



    // .modal_table
    &_table {
        width: 100%;

        th,
        td {
            max-width: 100%;
        }

        th {
            padding: 5px;
        }

        td {
            text-align: center;
        }

        .row-name {

            th,
            td {
                text-align: center;

                @media (max-width: 768px) {
                    font-size: 18px;
                }
            }
        }
    }
}


.col {}

.row {
    margin-left: 0;
}

.exercise {

    // .exercise_name
    &_name {}
}

.modal-footer {


    button {
        color: #4F95DA;
    }
}

.commento,
.container {
    margin: 0;
    padding: 10px;
    gap: 10px;

    .p_commento {
        margin-bottom: 0;
    }
}