.title_schede {
    display: flex;
    justify-content: center;
}

.dettagli {
    height: 20px;
    width: 20px;
}

.dd {
    width: 300px;
}

.btn_modal {
    background: #FF2625;
}

._ {
    column-gap: 20px;
}

.commento {
    min-width: 1000px;
    text-align: left;
}