.title_schede {
    display: flex;
    justify-content: center;
}

.btn_modal {
    background: #FF2625;
    width: auto;
    display: block;
    margin: 30px;
}

.dettagli {
    width: fit-content;
    right: 5px;
}

.contenuto {
    width: max-content;
}

.modal_container {
    display: table;
}

.modal_box {
    width: 1000px;
    height: 639px;
}

table,
th,
td {
    border: 0.5px solid black;
}

.ex_name {
    margin: 0;
}

.row {
    border: none;
}

.title_modal {
    display: inline;
    justify-content: space-around;
}
